.DS_Store
.vscode
.python-version
.idea/
*.dat
*.ipynb
*.hdf5
*.ipynb_checkpoints
*.jupyter_cache
_build
__pycache__/
docs/build/
docs/source/_tags/
docs/source/tags/
mitiq.egg-info/
dist/
build/
jupyter_execute/

# Coverage reports
coverage.xml
.coverage
.coverage.*
