# Third-party integration.
qiskit-terra~=0.18.1
qiskit-aer~=0.8.2
qiskit-ibmq-provider~=0.16.0
pyquil~=2.28.0
amazon-braket-sdk~=1.5.10

# Unit tests, coverage, and formatting/style.
pytest-xdist[psutil]
pytest-cov
flake8
black
mypy

# Documentation and examples.
sphinxcontrib-bibtex
sphinx-copybutton
sphinx-autodoc-typehints
myst-nb
pydata-sphinx-theme
