# Third-party integration.
qiskit-terra~=0.16.4
qiskit-aer~=0.7.6
qiskit-ibmq-provider~=0.12.2
pyquil~=2.28.0
amazon-braket-sdk~=1.5.10

# Unit tests, coverage, and formatting/style.
pytest-xdist[psutil]~=2.2.1
pytest-cov~=2.11.1
flake8~=3.7.9
black~=19.10b0

# Documentation and examples.
sphinxcontrib-bibtex~=2.2.0
sphinx-copybutton~=0.3.0
sphinx-autodoc-typehints~=1.12.0
myst-nb~=0.12.3
pydata-sphinx-theme~=0.6.3
