# Third-party integration.
qiskit~=0.32.1
pyquil~=3.0.0
pennylane-qiskit~=0.20.0
pennylane~=0.21.0
amazon-braket-sdk~=1.17.0

# Unit tests, coverage, and formatting/style.
pytest-xdist[psutil]~=2.5.0
pytest-cov~=3.0.0
flake8~=4.0.1
black~=22.1
mypy~=0.931

# Documentation and examples.
sphinxcontrib-bibtex~=2.4.1
sphinx-copybutton~=0.4.0
sphinx-autodoc-typehints~=1.12.0
myst-nb~=0.12.3
pydata-sphinx-theme~=0.8.0
jupytext==1.11.1
sphinx-gallery
nbsphinx
