name: test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Check out mitiq
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          make install requirements

      - name: Check types with mypy
        run: make check-types

      - name: Lint with flake8
        run: make check-style

      - name: Check code style with Black
        run: make check-format

  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out mitiq
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          make install requirements

      - name: Run the quilc & qvm Docker images
        run: |
          docker run --rm -idt -p 5000:5000 rigetti/qvm -S
          docker run --rm -idt -p 5555:5555 rigetti/quilc -R

      - name: Build and test Sphinx docs
        run: |
          make docs
          make doctest
          make linkcheck

  # This is to make sure Mitiq works without optional 3rd party packages like Qiskit, pyQuil, etc.
  # E.g., if we accidentally `import qiskit` in Mitiq where we shouldn't, this test will catch that.
  core:
    runs-on: ubuntu-latest
    steps:
      - name: Check out mitiq
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.7
      - name: Install Mitiq
        run: |
          python -m pip install --upgrade pip
          pip install .

      - name: Test without 3rd party packages
        run: |
          pip install pytest
          pytest mitiq/tests/test_without_third_party_packages.py

  asv:
    runs-on: ubuntu-latest
    steps:
      - name: Check out mitiq
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install Mitiq
        run: |
          python -m pip install --upgrade pip
          pip install .

      - name: Run ASV benchmarks
        run: |
          pip install asv virtualenv
          export BENCHMARK_CI=1
          asv machine --yes
          asv run --quick --strict

  test-linux:
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.7, 3.8]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out mitiq
        uses: actions/checkout@v3
        # Increase fetch depth to work around Codecov issue (https://github.com/codecov/codecov-action/issues/190).
        with:
          fetch-depth: 2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          make install requirements
      - name: Run the quilc & qvm Docker images
        run: |
          docker run --rm -idt -p 5000:5000 rigetti/qvm -S
          docker run --rm -idt -p 5555:5555 rigetti/quilc -R
      - name: Run all the unit tests & generate coverage report with pytest
        run: make test-all
      - name: Submit coverage report to Codecov
        # Only submit to Codecov once.
        if: ${{ matrix.python-version == 3.8 }}
        uses: codecov/codecov-action@v3.1.1
        with:
          fail_ci_if_error: true

  test-nonlinux:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
        python-version: [3.7, 3.8]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out mitiq
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          make install requirements
      - name: Run the Mitiq unit tests via pytest
        run: make test
